* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 4rem;
}
h1 {
    padding: 1rem;
}
input {
    margin-right: 1rem ;
}
li {
    margin-top: 30px;
}